.blog {
  padding: 1rem;
}

.blog h1 {
  font-weight: 700;
  color: black;
}

.blog h5 {
  font-weight: 350;
}
.read-all {
  border-radius: 28px !important;
  padding: 5px 20px !important;
}

.read-all:hover {
  background-color: black !important;
}
