.intro-text {
  font-size: 70px;
  font-weight: 900;
  margin-bottom: 25px;
}
.get-started {
  border-radius: 28px !important;
  padding: 5px 20px !important;
  background-color: black !important;
}

img {
  background-repeat: no-repeat;
}
