.internet-part {
  position: relative;
  top: -30rem;
  margin-bottom: -30rem;
}

@media only screen and (max-width: 768px) {
  .internet-part {
    position: relative;
    top: -15rem;
    margin-bottom: -15rem;
  }
}
