.user-section {
  padding: 50px 0px;
}

.user-section h1 {
  font-weight: 700;
  color: black;
}

.user-section h3 {
  font-weight: 400;
}

.learn-more-btn {
  border-radius: 1.75rem !important;
  padding: 0.32rem 1.25rem !important;
  background-color: black !important;
  margin-bottom: 2rem;
}

@media only screen and (width < 576px) {
  .user-app img {
    width: 250px;
  }
}
/* 
@media only screen and (576px <width <= 768px) {
  .internet-container img {
    width: 250px;
    height: 250px;
  }
}

@media only screen and (768px < width <= 992px) {
  .internet-container img {
    width: 350px;
    height: 350px;
  }
}

@media only screen and (992px < width <= 1200px) {
  .internet-container img {
    width: 400px;
    height: 400px;
  }
}

@media only screen and (1200px < width <= 1400px) {
  .internet-container img {
    width: 500px;
    height: 500px;
  }
} */
