.user-section {
  padding: 50px 0px;
}

.user-section h1 {
  font-weight: 700;
  color: black;
}

.user-section h3 {
  font-weight: 400;
}

.learn-more-btn {
  border-radius: 1.75rem !important;
  padding: 0.32rem 1.25rem !important;
  background-color: black !important;
  margin-bottom: 2rem;
}
