.user-section {
  padding: 50px 0px;
  height: 650px;
}

.mobile-image {
  height: 630px;
}
.learn-more-btn {
  background-color: black;
  color: white;
  border-radius: 32px;
  padding: 5px 15px;
  font-weight: 500;
  margin: 0px 16px;
  max-width: 25%;
}
