.why-otoride {
  padding: 1rem;
}
.why-otoride h1 {
  font-weight: 700;
  color: black;
}

.light-yellow-eclipse {
  background-image: url("../../image/why_light_yellow_eclipse.png");
  background-repeat: no-repeat;
  background-position: 90% 40%;
  background-size: 1.5rem;
  margin: 0;
}

.blue-eclipse {
  background-image: url("../../image/why_blue-eclipse.png");
  background-repeat: no-repeat;
  background-position: 100% 0%;
  background-size: 7.5rem;
  margin: 0;
}
