.operator-section {
  padding: 3rem 0;
  background-image: url(../../image/yellow_eclipse.png);
  background-repeat: no-repeat;
  background-position: 95% 35%;
  background-size: 9rem;
}

.operator-section h1 {
  font-weight: 700;
  color: black;
}

.operator-section h3 {
  font-weight: 400;
}

.learn-more-btn {
  border-radius: 1.75rem !important;
  padding: 0.32rem 1.25rem !important;
  background-color: black !important;
  margin-bottom: 2rem;
}
