.admin-section {
  padding: 3rem 0;
  background-color: #fcf9f7;
  background-image: url(../../image/admin_eclipse.png);
  background-repeat: no-repeat;
  background-position: 0% 35%;
  background-size: 6rem;
}

.admin-section h1 {
  font-weight: 700;
  color: black;
}

.admin-section h3 {
  color: #ff0069;
  font-weight: 400;
}

.learn-more-btn {
  border-radius: 1.75rem !important;
  padding: 0.32rem 1.25rem !important;
  background-color: black !important;
  margin-bottom: 2rem;
}
