.payment-section {
  padding: 1rem 0;
}

.payment-section h1 {
  font-weight: 700;
}

.payment-section p {
  font-size: 20px;
}
@media only screen and (min-width: 768px) {
  .payment {
    padding: 0 15%;
  }
}
